<footer class="footer">
    <div class="container">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p class="text-muted text-left">KU Coding Bootcamp 2017</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-4">
            <p class="text-muted text-center">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;"></span> by Rebecca preston</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p class="text-muted text-right">Copyright &copy 2017. All rights reserved.</p>
        </div>