<!DOCTYPE html>
<html>
    <head>
        <!--tab title-->
        <title>Eat da Burger!</title>
        <!--tab image-->
        <link rel="icon" href="/assets/img/burger.png">
        <!--Latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--css styling custom-->
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>

        <!--container-->
        <div class="container">

            <br>

            <!--burger image-->
            <center>
                <div class="row">
                    <img src="/assets/img/burger.png">
                </div>
            </center>

            <!--title of page-->
            <center>
                <h1 class="red_font">Eat da Burger! <small class="tiny_text">Devour it!</small></h1>
            </center>

            <br>

            <!--Burger content from index.handlebars-->
            {{{body}}}

            <br><br>

            <!--input new burgers form-->
            <form action="burger/create" method="POST">

                <!--text input-->
                <div class="row">
                    <!--empty div-->
                    <div class="colmd-3"></div>

                    <!--burger input box-->
                    <div class="form-group col-md-6">
                        <center><label for ="new_burger" class="red_font">Create Your Own Burger and Place your Order!</label></center>
                        <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
                </div>

                <!--Empty div to help center textarea-->
                <div class="col-md-3"></div>
                </div>

                <!--submit button-->
                <center>
                    <button id="submit-button" type="submit" class="btn btn-danger">Place Order</button>
                </center>

            </form>

            <br>

        </div>

        <!--link jQuery-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </body>
</html>
